/*
*
* main style 
*
*/
* {
	margin: 0;
	padding: 0;
}

body {
	margin-left: 5%;
	width: 90%;
	background-color: #eee;
}

div#footer {
	width: 100%;
}

/* contents */
table {
	width: 100%;
}
tr th {
	text-align: left;
}

.entity-id {
	display: none;
}
